USE [quanly_tivi]
GO
/****** Object:  Table [dbo].[chi_tiet_hoa_don]    Script Date: 19/11/2025 1:17:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_hoa_don](
	[id_cthd] [int] IDENTITY(1,1) NOT NULL,
	[id_hd] [int] NOT NULL,
	[id_tv] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
	[don_gia_luc_ban] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cthd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 19/11/2025 1:17:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[id_hd] [int] IDENTITY(1,1) NOT NULL,
	[id_kh] [int] NOT NULL,
	[ngay_lap] [datetime] NULL,
	[tong_tien] [decimal](15, 2) NOT NULL,
	[trang_thai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_hd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 19/11/2025 1:17:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[id_kh] [int] IDENTITY(1,1) NOT NULL,
	[ten_kh] [nvarchar](255) NOT NULL,
	[so_dien_thoai] [varchar](20) NULL,
	[dia_chi] [nvarchar](max) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_kh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nha_cung_cap]    Script Date: 19/11/2025 1:17:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nha_cung_cap](
	[id_ncc] [int] IDENTITY(1,1) NOT NULL,
	[ten_ncc] [nvarchar](255) NOT NULL,
	[dia_chi] [nvarchar](max) NULL,
	[so_dien_thoai] [varchar](20) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ncc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien]    Script Date: 19/11/2025 1:17:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien](
	[id_nv] [int] IDENTITY(1,1) NOT NULL,
	[ma_nv]  AS ('NV'+right('000'+CONVERT([varchar](10),[id_nv]),(3))),
	[ho_lot] [nvarchar](100) NULL,
	[ten] [nvarchar](50) NOT NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[ngay_sinh] [date] NULL,
	[chuc_vu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tai_khoan]    Script Date: 19/11/2025 1:17:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tai_khoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_dang_nhap] [varchar](50) NOT NULL,
	[mat_khau] [varchar](100) NOT NULL,
	[ho_ten] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[vai_tro] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tivi]    Script Date: 19/11/2025 1:17:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tivi](
	[id_tv] [int] IDENTITY(1,1) NOT NULL,
	[ten_tv] [nvarchar](255) NOT NULL,
	[hang_san_xuat] [nvarchar](100) NULL,
	[model] [varchar](100) NULL,
	[kich_thuoc_man_hinh] [int] NULL,
	[do_phan_giai] [nvarchar](50) NULL,
	[gia_nhap] [decimal](15, 2) NULL,
	[gia_ban] [decimal](15, 2) NOT NULL,
	[so_luong_ton] [int] NOT NULL,
	[thoi_gian_bao_hanh] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[chi_tiet_hoa_don] ON 

INSERT [dbo].[chi_tiet_hoa_don] ([id_cthd], [id_hd], [id_tv], [so_luong], [don_gia_luc_ban]) VALUES (1, 1, 3, 1, CAST(31890000.00 AS Decimal(15, 2)))
INSERT [dbo].[chi_tiet_hoa_don] ([id_cthd], [id_hd], [id_tv], [so_luong], [don_gia_luc_ban]) VALUES (2, 2, 1, 1, CAST(7490000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[chi_tiet_hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[hoa_don] ON 

INSERT [dbo].[hoa_don] ([id_hd], [id_kh], [ngay_lap], [tong_tien], [trang_thai]) VALUES (1, 4, CAST(N'2025-11-18T21:49:59.753' AS DateTime), CAST(31890000.00 AS Decimal(15, 2)), N'Hoàn thành')
INSERT [dbo].[hoa_don] ([id_hd], [id_kh], [ngay_lap], [tong_tien], [trang_thai]) VALUES (2, 11, CAST(N'2025-11-18T22:23:57.163' AS DateTime), CAST(7490000.00 AS Decimal(15, 2)), N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[khach_hang] ON 

INSERT [dbo].[khach_hang] ([id_kh], [ten_kh], [so_dien_thoai], [dia_chi], [email]) VALUES (1, N'Nguyễn Thị Hồng', N'0909123456', N'123 Lê Lợi, Q.1, TP.HCM', N'hong.nguyen@gmail.com')
INSERT [dbo].[khach_hang] ([id_kh], [ten_kh], [so_dien_thoai], [dia_chi], [email]) VALUES (2, N'Trần Văn Ba', N'0918889999', N'45 Nguyễn Trãi, Q.5, TP.HCM', N'trantvanba@yahoo.com')
INSERT [dbo].[khach_hang] ([id_kh], [ten_kh], [so_dien_thoai], [dia_chi], [email]) VALUES (3, N'Lê Thanh Tâm', N'0987654321', N'789 Điện Biên Phủ, Bình Thạnh, TP.HCM', N'tam.le@outlook.com')
SET IDENTITY_INSERT [dbo].[khach_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[nha_cung_cap] ON 

INSERT [dbo].[nha_cung_cap] ([id_ncc], [ten_ncc], [dia_chi], [so_dien_thoai], [email]) VALUES (1, N'Công ty TNHH Sony Electronics Việt Nam', N'93 Nguyễn Du, P. Bến Nghé, Q.1, TP.HCM', N'1800588885', N'info@sony.com.vn')
INSERT [dbo].[nha_cung_cap] ([id_ncc], [ten_ncc], [dia_chi], [so_dien_thoai], [email]) VALUES (2, N'Công ty TNHH Điện Tử Samsung Vina', N'2 Hải Triều, P. Bến Nghé, Q.1, TP.HCM', N'02839157310', N'contact@samsung.com')
INSERT [dbo].[nha_cung_cap] ([id_ncc], [ten_ncc], [dia_chi], [so_dien_thoai], [email]) VALUES (3, N'Công ty TNHH LG Electronics Việt Nam', N'Lô CN2, KCN Tràng Duệ, Lê Lợi, An Dương, Hải Phòng', N'18001503', N'lgservice@lg.com.vn')
SET IDENTITY_INSERT [dbo].[nha_cung_cap] OFF
GO
SET IDENTITY_INSERT [dbo].[nhan_vien] ON 

INSERT [dbo].[nhan_vien] ([id_nv], [ho_lot], [ten], [gioi_tinh], [ngay_sinh], [chuc_vu]) VALUES (1, N'Nguyễn Văn', N'An', N'Nam', CAST(N'1985-05-15' AS Date), N'Trưởng phòng')
INSERT [dbo].[nhan_vien] ([id_nv], [ho_lot], [ten], [gioi_tinh], [ngay_sinh], [chuc_vu]) VALUES (2, N'Trần Thị', N'Bình', N'Nữ', CAST(N'1990-08-20' AS Date), N'Phó phòng')
INSERT [dbo].[nhan_vien] ([id_nv], [ho_lot], [ten], [gioi_tinh], [ngay_sinh], [chuc_vu]) VALUES (3, N'Lê Thị', N'Cẩm', N'Nữ', CAST(N'1995-12-10' AS Date), N'Kế toán')
SET IDENTITY_INSERT [dbo].[nhan_vien] OFF
GO
SET IDENTITY_INSERT [dbo].[tai_khoan] ON 

INSERT [dbo].[tai_khoan] ([id], [ten_dang_nhap], [mat_khau], [ho_ten], [email], [vai_tro]) VALUES (1, N'admin', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Quản Trị Viên', N'admin@cuahang.com', N'admin')
INSERT [dbo].[tai_khoan] ([id], [ten_dang_nhap], [mat_khau], [ho_ten], [email], [vai_tro]) VALUES (2, N'khachhang', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Nguyễn Văn Khách', N'khach@gmail.com', N'customer')
SET IDENTITY_INSERT [dbo].[tai_khoan] OFF
GO
SET IDENTITY_INSERT [dbo].[tivi] ON 

INSERT [dbo].[tivi] ([id_tv], [ten_tv], [hang_san_xuat], [model], [kich_thuoc_man_hinh], [do_phan_giai], [gia_nhap], [gia_ban], [so_luong_ton], [thoi_gian_bao_hanh], [mo_ta]) VALUES (1, N'Smart Tivi Samsung Crystal UHD 4K 43 inch', N'Samsung', N'UA43AU7000', 43, N'4K UHD', CAST(0.00 AS Decimal(15, 2)), CAST(7490000.00 AS Decimal(15, 2)), 109, 12, NULL)
INSERT [dbo].[tivi] ([id_tv], [ten_tv], [hang_san_xuat], [model], [kich_thuoc_man_hinh], [do_phan_giai], [gia_nhap], [gia_ban], [so_luong_ton], [thoi_gian_bao_hanh], [mo_ta]) VALUES (2, N'Google Tivi Sony 4K 65 inch', N'Sony', N'KD-65X75K', 65, N'4K UHD', CAST(0.00 AS Decimal(15, 2)), CAST(16200000.00 AS Decimal(15, 2)), 45, 12, NULL)
INSERT [dbo].[tivi] ([id_tv], [ten_tv], [hang_san_xuat], [model], [kich_thuoc_man_hinh], [do_phan_giai], [gia_nhap], [gia_ban], [so_luong_ton], [thoi_gian_bao_hanh], [mo_ta]) VALUES (3, N'Smart Tivi LG OLED 4K 55 inch', N'LG', N'OLED55C2PSA', 55, N'4K OLED', CAST(0.00 AS Decimal(15, 2)), CAST(31890000.00 AS Decimal(15, 2)), 19, 12, NULL)
SET IDENTITY_INSERT [dbo].[tivi] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__khach_ha__BD03D94C8029FDC3]    Script Date: 19/11/2025 1:17:21 SA ******/
ALTER TABLE [dbo].[khach_hang] ADD UNIQUE NONCLUSTERED 
(
	[so_dien_thoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tai_khoa__363698B328DE1956]    Script Date: 19/11/2025 1:17:21 SA ******/
ALTER TABLE [dbo].[tai_khoan] ADD UNIQUE NONCLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tivi__0B7E269F5B192374]    Script Date: 19/11/2025 1:17:21 SA ******/
ALTER TABLE [dbo].[tivi] ADD UNIQUE NONCLUSTERED 
(
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT (getdate()) FOR [ngay_lap]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT (N'Hoàn thành') FOR [trang_thai]
GO
ALTER TABLE [dbo].[tai_khoan] ADD  DEFAULT ('customer') FOR [vai_tro]
GO
ALTER TABLE [dbo].[tivi] ADD  DEFAULT ((0.00)) FOR [gia_nhap]
GO
ALTER TABLE [dbo].[tivi] ADD  DEFAULT ((0)) FOR [so_luong_ton]
GO
ALTER TABLE [dbo].[tivi] ADD  DEFAULT ((12)) FOR [thoi_gian_bao_hanh]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD FOREIGN KEY([id_hd])
REFERENCES [dbo].[hoa_don] ([id_hd])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD FOREIGN KEY([id_tv])
REFERENCES [dbo].[tivi] ([id_tv])
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD FOREIGN KEY([id_kh])
REFERENCES [dbo].[khach_hang] ([id_kh])
ON UPDATE CASCADE
GO
